@font-face{
        font-family: "Open Sans";
        src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face{
        font-family: "Open Sans bold";
        src: url('../fonts/OpenSans-Bold.ttf');
}

/* estilos gerais */

*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body, html{
height: 100%;
}

/* estrutura */
.container{
        width: 98%;
        margin: 0 auto;
}

.hide-desk{
        display: none;
}

.flex{
        display: flex;
}

.space-between{
        justify-content: space-between;
}

.space-evenly{
        justify-content: space-evenly;
}

.center-vertical{
        align-items: center;
}

.center-horizontal{
        justify-content: center;
}


/* texto */
.text-white{
        color: #fff;
}

.text-blue{
        color: #43688d;
}

.text-blue-2{
        color: #678ebe;
}

.text-gray{
        color: #b8b8b8;
}

.negrito{
        font-family: "Open Sans bold";  
}



/* bordas */
.border-top-gray{
        border-top: 2px solid #b8b8b8;    
}

.border-bottom-gray{
        border-bottom: 2px solid #b8b8b8;    
}

.borda-top-blue{
        border-top: 2px solid #678ebe;
}

.borda-titulo{
        width: 10%;
        height: 2px;
        background-color: #5d5d5d;
}

.border-gray{
        border: 1px solid #b8b8b8;
}



/* alinhamento */
.align-right{
        text-align: right;
}

.align-center{
        text-align: center;
}

/* cores de fundo */
.background-cinza{
        background-color: #dddddd;
        padding: 2% 0;
}

.background-blue{
        background-color: #1d8dff;
}

.background-preto{
        background-color: #0f0f0f;
}



/* botoes */
.botao-saiba-mais{
        display: block;
        width: 200px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 18px;
        color: #fff;
        text-decoration: none;
        background-color: #1387ff;
        border-radius: 20px;
        margin-top: 3%;
        border: none;
}


/* inputs */
.input-text{
        width: 100%;
        height: 45px;
        line-height: 45px;
        display: block;
        padding-left: 10px;
}

.textarea{
        width: 100%;
        height: 200px;
        padding-left: 10px;
        resize: vertical;
        font-family: "Open Sans";
}


/* margins */
.margin-bottom-5{
        margin-bottom: 5px;
}

.margin-bottom-25{
        margin-bottom: 25px;
}

.margin-top-15{
        margin-top: 15px;
}


.margin-top-30{
        margin-top: 30px;
}

.margin-top-60{
        margin-top: 60px;
}

/* paddings */
.padding-bottom-15{
        padding-bottom: 15px;
}

.padding-2{
        padding: 2%;
}

/* widths */
.w-48{
        width: 48%;
}

.w-100{
        width: 100%;
}


.box-shadow{
        -webkit-box-shadow: -6px 7px 5px 0px rgba (0,0,0,0,75);
        -moz-box-shadow: -6px 7px 5px 0px rgba (0,0,0,0,75);
        box-shadow: -6px 7px 5px 0px rgba (0,0,0,0,75);
}


/* estilos especificos */

body{
        font-family: "Open Sans";
}

.fundo-preto{
        width: 100%;
        height: 700px;
        background-color: rgba(0, 0, 0, 0.623);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
}

.background-header{
        background-image: url(../images/bg1.jpg);
        background-position: center;
        background-size: cover;
        min-height: 700px;
}

.redes-sociais{
        width: 100%;
}

.redes-sociais i{
        font-size: 22px;     
}

.header{
        border-bottom: 2px solid #fff;
        padding: 0.5% 2%;
        
}

.container-header{
        position: absolute;
        top: 0;
        left: 1%;
}

.z-index-2{
        z-index: 2;
}

.logo{
        width: 80%;
        font-size: 30px;
}

.menu{
        width: 20%;
}

.menu a{
        display: inline-block;
        text-decoration: none;
}

.container-welcome{
        position: relative;
        top: 90px;
        min-height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10%;
}

.titulo-welcome{
        font-size: 35px;
}

.container-welcome p{
        line-height: 24px;
        margin-top: 2%;
        width: 50%;
}


.titulo-planos{
        display: inline-block;
        padding: 0 2%;
}

.container-box-planos{
        margin: 2% 0 5%;
}

.box{
        width: 20%;
        border: 1px solid #ccc;
        -webkit-box-shadow: 9px 7px 17px -3px rgba(0,0,0,0.75);
        -moz-box-shadow: 9px 7px 17px -3px rgba(0,0,0,0.75);
        box-shadow: 9px 7px 17px -3px rgba(0,0,0,0.75);
}

.subtitulo-planos{
        padding: 4% 0;
}


.lista-planos{
        list-style: none;
        padding: 20% 2%;
        
}

.preco-plano{
        font-size: 25px;
        padding: 2%;
        width: 50%;
        text-align: center;
        margin: 10% auto;
}

.background-sobre{
        background-image: url("../images/bg-sobre.jpg");
        background-size: cover;
        background-position: center;
        min-height: 300px;
        padding: 2% 0;
}

.fundo-preto-2{
        width: 100%;
        height: 300px;
        background-color: rgba(0, 0, 0, 0.823);
        position: absolute;
        top: 1220px;
        left: 0;
        z-index: 1;
}

.container-sobre{
        position: relative;
}

.titulo-sobre{
        margin-bottom: 2%;
        font-size: 24px;
}

.container-sobre p{
        width: 50%;
        margin: 0 auto 2%;
}

.img-colaborador{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: gray;
        margin-right: 5px;
}


@media screen and (max-width: 768px){
        .menu{
                width: 40%;
        }

        .container-welcome p {
                width: 80%;
        }

        .container-welcome {
                top: 30px;
        }

        .background-header {
                min-height: 300px;
        }

        .fundo-preto {
                height: 600px;
        }

        .box {
                width: 32%;
        }

        .fundo-preto-2 {
                height: 190px;
        }


        .img-colaborador {
                height: 60px;
        }
}

@media screen and (max-width: 414px){
        .show-mobile{
                display: block;
        }

        .hide-mobile{
                display: none;
        }

        .menu-mobile{
                cursor: pointer;
        }

        .margin-top-40-mobile{
                margin-top: 40px;
        }

        .margin-top-10-mobile{
                margin-top: 10px;
        }

        .container-welcome {
                top: 40px;
        }

        .background-header{
                width: 100%;
        }

        .container-welcome p {
                width: 100%;
        }

        .flex{
                flex-wrap: wrap;
        }

        .box {
                width: 90%;
        }

        .justify-center-mobile{
                justify-content: center;
        }

        .container-sobre p {
                width: 100%;
               
        }

        .fundo-preto-2 {
                top: 2000px;
              
        }

        .w-48 {
                width: 90%;
        }

        .img-colaborador {
                height: 100px;
        }

}






