@font-face{
        font-family: "Open Sans";
        src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face{
        font-family: "Open Sans bold";
        src: url('../fonts/OpenSans-Bold.ttf');
}

/* estilos gerais */

*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body, html{
height: 100%;
}

/* estrutura */
.container{
        width: 98%;
        margin: 0 auto;
}

.flex{
        display: flex;
}

.space-between{
        justify-content: space-between;
}

.space-evenly{
        justify-content: space-evenly;
}

.center-vertical{
        align-items: center;
}


/* texto */
.text-white{
        color: #fff;
}

.text-blue{
        color: #43688d;
}

.text-blue-2{
        color: #678ebe;
}

.text-gray{
        color: #b8b8b8;
}

.negrito{
        font-family: "Open Sans bold";  
}



/* bordas */
.border-top-gray{
        border-top: 2px solid #b8b8b8;    
}

.borda-top-blue{
        border-top: 2px solid #678ebe;
}

/* alinhamento */
.align-right{
        text-align: right;
}

.align-center{
        text-align: center;
}

/* cores de fundo */
.background-cinza{
        background-color: #dddddd;
        padding: 2% 0;
}

.background-blue{
        background-color: #1d8dff;
}



/* botoes */
.botao-saiba-mais{
        display: block;
        width: 200px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 18px;
        color: #fff;
        text-decoration: none;
        background-color: #1387ff;
        border-radius: 20px;
        margin-top: 3%;
}



/* estilos especificos */

body{
        font-family: "Open Sans";
}

.fundo-preto{
        width: 100%;
        height: 700px;
        background-color: rgba(0, 0, 0, 0.623);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
}

.background-header{
        background-image: url(../images/bg1.jpg);
        background-position: center;
        background-size: cover;
        min-height: 700px;
}

.redes-sociais{
        width: 100%;
}

.redes-sociais i{
        font-size: 22px;     
}

.header{
        border-bottom: 2px solid #fff;
        padding: 0.5% 2%;
        
}

.container-header{
        position: absolute;
        top: 0;
        left: 1%;
}

.z-index-2{
        z-index: 2;
}

.logo{
        width: 80%;
        font-size: 30px;
}

.menu{
        width: 20%;
}

.menu a{
        display: inline-block;
        text-decoration: none;
}

.container-welcome{
        position: relative;
        top: 90px;
        min-height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10%;
}

.titulo-welcome{
        font-size: 35px;
}

.container-welcome p{
        line-height: 24px;
        margin-top: 2%;
        width: 50%;
}


.titulo-planos{
        display: inline-block;
        padding: 0 2%;
}

.container-box-planos{
        margin: 2% 0 5%;
}

.box{
        width: 15%;
        border: 1px solid #ccc;
        -webkit-box-shadow: 9px 7px 17px -3px rgba(0,0,0,0.75);
        -moz-box-shadow: 9px 7px 17px -3px rgba(0,0,0,0.75);
        box-shadow: 9px 7px 17px -3px rgba(0,0,0,0.75);
}

.subtitulo-planos{
        padding: 4% 0;
}


.lista-planos{
        list-style: none;
        padding: 20% 2%;
        
}

.preco-plano{
        font-size: 25px;
        padding: 2%;
        width: 50%;
        text-align: center;
        margin: 10% auto;
}

.background-sobre{
        background-image: url("../images/bg-sobre.jpg");
        background-size: cover;
        background-position: top;
        background-attachment: fixed;
        min-height: 300px;
        padding: 2% 0;
}

.fundo-preto-2{
        width: 100%;
        height: 355px;
        background-color: rgba(0, 0, 0, 0.623);
        position: absolute;
        top: 1295px;
        left: 0;
        z-index: 1;
}

.container-sobre{
        position: relative;
}

.titulo-sobre{
        margin-bottom: 2%;
        font-size: 24px;
}

.container-sobre p{
        width: 50%;
        margin: 0 auto 2%;
}



